.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background: #0B666A;
    color: #8BACAA;
}

.card-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 15%);
    border: 1px solid black;
    width: 35rem;
}


.testimonial-grid {
    display: grid;
    gap: 2rem;
    grid-template-rows: 1fr 2.5fr 1fr;
    grid-template-areas:
    'top'
    'middle'
    'bottom';
}

.testimonial1 {
    border: 1px solid;
    grid-area: top;
}

.testimonial2 {
   border: 1px solid;
   grid-area: bottom;
}


.testimonial3 {
    border: 1px solid;
    grid-area: middle;
}

